.App {
  display: flex;
  flex-direction: column;
}

.header-large {
  font-size: 21em;
}

.header-medium {
  font-size: 12em;
}

.header-small {
  font-size: 4em;
}

.subheading {
  align-self: center;
  color: #ededf5;
  font-weight: bolder;
}

p {
  font-weight: bolder;
}

div.code {
  background-image: linear-gradient(#481da8, #5210ac, #622cad, #481da8);
}

h1.code {
  color: #f4e044;
}

div.film {
  background-image: linear-gradient(#fffafa, #fffafa, #f8f8ff, #ededf5);
}

h1.film {
  color: #1e1c1c;
}

div.chocolate {
  background-image: linear-gradient(#dd6546, #d35239, #d95b3f, #d34e36);
}

h1.chocolate {
  color: #fcf567;
}
