.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fffafa;
  margin: 1%;
}

.NavBar-link {
  align-items: center;
  width: 75%;
  padding: 2%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #dd6546;
}

#home {
  float: left;
  padding-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #842988;
}
